<h1>About the Creators</h1>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Us.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h5 class="card-title">This is us!</h5>
        <p class="card-text"></p>
        <p>We are women in tech. </p>
        <p>We created Starbi while learning Unity—and in less than a week. </p>
        <p>Our aim was to create a fun, interactive world with a first-person female character. We found a basic world template in the Unity Asset Store, along with a base character, but we had to handle the rest: getting the character to move and interact with objects, adding a sidekick (a free cat asset hand-modified to look like a little fox), moving donuts, running vehicles, audio clips, a self-esteem bar, an end-goal, and more.</p>
        <p>We're proud of what we accomplished and hope you enjoy playing!</p>
        <p class="card-text"><small class="text-muted">From left to right: Ariel Pang, Becky Diaz, Lynnea Smoyer, Nadia Goerdt </small></p>
        </div>
    </div>
    </div>
</div>