<h1>Character Overview</h1>

<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Starbi.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Starbi</h2>
        <p class="card-text"></p>
        <p>Starbi aims to get her ideal role in tech. She is determined, focused, and ready to take the tech world by storm. Starbi just graduated from a coding bootcamp and she has a job interview! She knows she can rock those algorithm tests as long as she can make it on time!</p>
        <h5>Strengths: </h5>
            <ul>
                <li>Confidence</li>
                <li>Intelligence</li>
                <li>Full-Stack Developer</li>
                <li>Binary Trees</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>Sweets</li>
                <li>Sushi</li>
                <li>Caffeine</li>
                <li>HashMaps</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Fox3.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Mr. Fox</h2>
        <p class="card-text"></p>
        <p>Mr. Fox is Starbi's best friend—he never leaves her side. Mr. Fox also loves belly rubs and long walks on the beach.</p>
        <h5>Strengths: </h5>
            <ul>
                <li>Loyalty</li>
                <li>Cuteness</li>
                <li>Fluffiness</li>
                <li>Speed</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>Cats</li>
                <li>Squirrels</li>
                <li>Bunnies</li>
                <li>Cheetos</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Enemies.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Enemies</h2>
        <p class="card-text"></p>
        <p>Enemies are around the city distracting Starbi and trying to keep her from making it to her interview. Yuck!</p>
        <h5>Strengths: </h5>
            <ul>
                <li>N/A</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>Smart, strong women</li>
                <li>Slaps</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Anne.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Instructor Anne</h2>
        <p class="card-text"></p>
        <p>Instructor Anne </p>
        <h5>Strengths: </h5>
            <ul>
                <li>Explaining things</li>
                <li>Algos</li>
                <li>Drawing</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>N/A</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Ryan.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Instructor Adrien</h2>
        <p class="card-text"></p>
        <p>Instructor Adrien </p>
        <h5>Strengths: </h5>
            <ul>
                <li>Rubix Cubes</li>
                <li>Demos After Dark</li>
                <li>Magic</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>Carbs</li>
                <li>BennyBob</li>
                <li>Ariel</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<div class="card mb-5" style="max-width: 1240px;">
    <div class="row no-gutters">
    <div class="col-md-5">
        <img src="~/images/Ryan.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
        <div class="card-body">
        <h2 class="card-title">Instructor Ryan</h2>
        <p class="card-text"></p>
        <p>Instructor Ryan </p>
        <h5>Strengths: </h5>
            <ul>
                <li>Python</li>
                <li>Patience</li>
                <li>Video Games</li>
            </ul>
        <h5>Weaknesses:</h5>
            <ul>
                <li>Shorts</li>
                <li>Ariel</li>
            </ul>
        </div>
    </div>
    </div>
</div>
